*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
html, body {
    min-height: 100%;
}
header .container{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
header .logo{
    margin-top: 30px;
    margin-left: 75px;
}
header .logo a img{
    width: 115px;
    
}
nav{
    margin-top: 30px;
}
ul{
    list-style: none;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}
nav ul li {
    margin-right: 65px;
}

 .landing .container{
display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
 }
.landing .container .box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    width: 50%;

}
.container .box2{
    display: flex;
    justify-content: end;
}
.landing .container .box2 img{
    width: 100%;
}
.landing .container .box1 .txt-1 .txt1{
    
    font-size: 30px;
    font-weight: bold;
}
.landing .container .box1 .txt-1 .txt2{
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0;
}
.container .box1 .form input[type="email"]{
    height: 48px;
    border: #000000 1px solid;
    border-radius: 5px;
    width: 50%;
}
.container .box1 .form input[type="email"]::placeholder{
    padding: 7px;
    color: rgba(0, 0, 0, 0.315);
}
.contact .box2 button{
    width: 45%;
    background-color: #3165f8;
    height: 48px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
.container .box1 .form input[type="email"]:focus{
    outline: none;
}
.container .box1 .form input[type="submit"]{
    height: 48px;
    border-radius: 3px;
    margin-left: 10px;
    background-color: #3165f8;
    color: white;
    border-color: transparent;
    width: 40%;
}
@media(max-width:767px){
    .landing .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .landing .container .txt-1 .txt1{
        text-align: center;
    }
    .landing .container .box2 img{
        width: 100%;
        margin: 0;
    }
    .container .box2{
        margin: 0;
    }
    nav ul li{
        margin-right: 35px;
    }
    .landing .container .box1{
        width: 100% !important;
    }
    .container .box1 .form input[type="submit"]{
        width: 90% !important;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        
    }
    .container .box1 .form input[type="email"]{
        width: 90%;
        margin-bottom: 1rem !important;
        margin-left: auto;
        margin-right: auto;
        
    }
    header nav{
        margin: 0;
    }
    header .logo{
        margin: 0;
    }
    header nav ul li{
        margin-left: 50px;
        margin-right: 0;
    }
}
@media(min-width:767px){
    .photo-desktop{
        background-image: url("../images/bg-curve-desktop.svg");
        background-size: cover;
    }
    
    .photo-desktop img{
        max-width: 100%;
    }
    .photo-mob img{
        display: none;
    }
}
@media(max-width:767px){
    .photo-mob{
        background-image: url("../images/bg-curve-mobile.svg");
        background-size: cover;
    }
    .photo-mob{
        margin-top: 60px;
    }
    .photo-mob img{
        width: 100%;
    }
    .photo-desktop img{
        display: none;
    }
}
.about{
    padding-bottom: 30px;
    display: flex;
    background-color: #f9f8fe;
    justify-content: space-between;
  
    font-family: "Open Sans", sans-serif ;
}
.about .box2{
    justify-content: end;
    flex-direction: row;
    width: 40%;
}
.about .box2 img{
    width: 100%;
    height: 100%;
}
.about .box1 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
}
.about .box1 .txt .p1{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 29px;
    
}
.about .box1 .txt .p2{
    font-size: 16px;
    padding-bottom: 18px;
    font-weight: 500;
}
.about .box1 .a a{
    text-decoration: none;
    font-size: 20px;
    color: #3da08f;
    border-bottom: 2px solid #3da08f;
}
.about .box1 .content{
    background-color: white;
    width: 445px;
    padding: 9px 42px;
    box-shadow: 0px 0px 18px #0000001f;
    margin-top: 49px;
    border-radius: 9px;
}
.about .box1 .content .avater img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.about .content .avater {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
.about .content .avater p{
    margin: 0; 
    font-weight: 100;
    font-size: 15px;
}
.about .content .avater h3{
    margin: 0;
    margin-bottom: 5px;
}
.about .content .avater .txt{
    margin: 0;
    margin-left: 5px;
}
.about .content .p1{
    margin-top: 8px;
    font-size: 17px;
    line-height: 1.5;
}
.about .content .img{
    margin-top: 25px;
    width: 21px;
}
@media(max-width:767px){
    .about{
        display: flex;
        flex-direction: column-reverse;
    }
    .photo{
        background-image: url("../images/bg-curve-mobile.svg");
        background-size: cover;
    }
    .contact .container , footer {
        display: flex;
        flex-direction: column;
    }
    .contact .box2 input[type="email"]{
        width: 100%;
    }
    .contact .box2 a input{
        width: 100%;
    }
    .about .box2{
        width: 100% !important;
    }
    .about .box1 {
        width: 100%;
    }.contact .container .box2{
    width: 100% !important;
    }
    .contact .container .box1{
        width: 100% !important;
    }
    .contact .box2 button{
        width: 100% !important;
    }footer{
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    .contact{
        padding: 4rem 2rem !important;
    }
    header nav ul li{
        margin-left: 12px ;
    }.about .box1 .content{
        width: 80% !important;
    }
}




.contact{
    padding: 60px;
    background-color: hsl(238, 22%, 44%);
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .container .box2{
    justify-content: flex-end;
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    width: 50%;
}
.contact .container .box1 .p1{
    color: white;
    font-size: 30px;
    margin-bottom: 21px;
    font-weight: 500;

}
.contact .container .box1{
    width: 40%;
}
.contact .container .box2{
    width: 40%
}
.contact .container .box1 .p2{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}
.contact .box2 input[type="email"]{
    height: 49px;
    border-radius: 5px;
    margin: 0;
    border-color: transparent;
    margin-bottom: 15px;
}
.container .box2  input[type="email"]::placeholder{
    padding: 10px;
    color: rgba(0, 0, 0, 0.315);
}
.container .box2  input[type="email"]:focus{
    outline: none;
}
.contact .box2 a input{
    height: 49px;
    background-color: #2f65f9;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(243, 87%, 12%);
    color: white;
    font-family: "Open Sans", sans-serif ; ;
}
footer .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
footer .x{
    padding-bottom: 25px;
}
footer .cont img{
    width: 18px;
    height: 18px;
    
}
footer .icon  a i{
    color: white;
    position: relative;
    background-color: hsl(243, 87%, 12%);
    border-radius: 50%;
    padding: 6px;
    border: .5px solid white;
    margin-right: 15px;
}
footer .box2{
    display: flex;
    flex-direction: column;
    padding-top: 136px;
}
footer .box2 a{
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
}
footer .box3{
    padding-top: 93px;

}
footer .icon{

    padding-top: 32px;
}
footer .box1{
    margin-left: 75px;
}
footer .box1 .img{
    margin-bottom: 22px;

}
footer .box3 p{
    margin-bottom: 16px;
}
@media(max-width:767px){
    footer{
        text-align: center;
    }
    footer .box1{
        padding: 0;
        margin: 0;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }
    footer .box2{
        padding: 50px 0;
    }
    footer .box3{
        padding: 0;
    }
    footer .icon{
        margin: 0;
    }
    .contact {
        text-align: center;
    }
    .contact .box2 input[type="email"] {
        width: 100%;
    }
    .contact .box2 a input{
        width: 100%;
    }
    .about .box1{
        margin: 40px 0;
    }
    .about .box1 .txt{
        margin-left: 26px;
    }
    .about .a{
        text-align: center;
        margin: 35px 0px;
    }
    .about .content{
        margin: 55px auto;
        width: 100%;
    }
    .about .box1 .txt .p1{
        text-align: center;
        font-size: 25px;
    }
    .landing .container .box1{
    margin: 0;
    text-align: center;
    }
    .landing .box1 .txt-1{
        margin-top: 30px;
    }
}
